<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Danh sรกch sแบฃn phแบฉm</title>
</head>
<body>
  <h1>๐ฆ Danh sรกch sแบฃn phแบฉm</h1>
  <a href="/">โฌ Quay lแบกi trang chแปง</a>
  <ul>
    <% if (products.length === 0) { %>
      <li>Chฦฐa cรณ sแบฃn phแบฉm nรo</li>
    <% } else { %>
      <% products.forEach(p => { %>
        <li><%= p.id %>. <%= p.name %> โ <%= p.price %>โซ</li>
      <% }) %>
    <% } %>
  </ul>
</body>
</html>
